! special
*.foreground:   #1c1c1c
*.background:   #ff8d59
*.cursorColor:  #1c1c1c

! black
*.color0:       #DAC6D2
*.color8:       #a87a96

! red
*.color1:       #00825a
*.color9:       #00777e

! green
*.color2:       #383c70
*.color10:      #232766

! yellow
*.color3:       #a3665d
*.color11:      #7d4941

! blue
*.color4:       #a30745
*.color12:      #69032b

! magenta
*.color5:       #4CADBD
*.color13:      #317b87

! cyan
*.color6:       #8c080b
*.color14:      #590204

! white
*.color7:       #b85f00
*.color15:      #8c4800


!URxvt Appearance and functionality
URxvt.scrollBar: false
URxvt.font: xft:JetBrains Mono:size=11.5,xft:Noto Emoji:size=11.5
URxvt.internalBorder: 10
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!Show emoji in terminal
URxvt.perl-ext-common: default,matcher,keyboard-select,selection-to-clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.iso14755_53: false
URxvt.iso14755_54: false
URxvt.iso14755_55: false
URxvt.iso14755_56: false
URxvt.iso14755_57: false
URxvt.iso14755_58: false
URxvt.iso14755_59: false
URxvt.iso14755_60: false

Xcursor.theme: macOS-BigSur
Xcursor.size: 24
