/**
 *
 * Author: Lorenzo Barretta (@Bavuett)
 * Github: @Bavuett
 *
 **/
 
* {
    background:     #232121;
    background-alt: #DAC6D2;
    prompt-alt:     #8989E5;
    border:         #000000;
    foreground:     #DCDCDC;
    selected:       #79D6A9;
    selected-txt:   #232121;
    unselected-txt: #DCDCDC;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
