/**
 *
 * Author: Lorenzo Barretta (@Bavuett)
 * Github: @Bavuett
 *
 **/
 
* {
    background:     #36353C;
    background-alt: #C75C79;
    border:         #8184B0;
    foreground:     #DAC6D2;
    selected:       #C75C79;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}